<div class="hero">
	<div class="hero-inner">
    <a href="" class="hero-logo"><img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png
" alt=""></a>
		<div class="hero-copy">
			<h1>SuperCookie Delivery</h1>
			<p>Because you want a cookie. But don't have one.</p>
		</div>

		<div id="form">
    	<%= render partial: 'pages/form' %>
		</div>

	</div>
</div>
